*{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'FlopDesignFONT';
	src: url('./font/03SmartFontUI.woff') format('woff');
}

body{
    margin-top: 1.5%;
    margin-bottom: 1.5%;    
    background: -moz-radial-gradient(center, ellipse cover, rgba(26,188,156,0.42) 0%, rgba(26,188,156,0.79) 64%, rgba(26,188,156,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(26,188,156,0.42) 0%,rgba(26,188,156,0.79) 64%,rgba(26,188,156,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(26,188,156,0.42) 0%,rgba(26,188,156,0.79) 64%,rgba(26,188,156,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b1abc9c', endColorstr='#1abc9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.input{
    text-align: center;   
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    border: 6px solid;    
}

.input h1{
    padding-left: 3%;
    letter-spacing: -2px;
    font-family: "FlopDesignFONT";   
    margin-top: 4%;
    font-size: 330%;
}

/*ボタン*/

.btn{
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 20px;    
    display: inline-block;
    width: 23%;
    height: 60px;
    box-shadow: 0 1px 1px 0 rgba(128,128,128,0.1), 0 1px 1px 0 ;
    opacity: 0.2;
}

.btn:hover {
    opacity: 0.85;
    box-shadow: 0 3px 3px 0 rgba(128,128,128,0.1), 0 3px 3px 0;  
}

/*ボタン*/
.twitter-btn{
    background-color:#55acee;
}

.instagram-btn{
    z-index: 10;    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdc80+0,f56040+34,c13584+68,405de6+100 */
    background: #ffdc80; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ffdc80 0%, #f56040 34%, #c13584 68%, #405de6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ffdc80 0%,#f56040 34%,#c13584 68%,#405de6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ffdc80 0%,#f56040 34%,#c13584 68%,#405de6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc80', endColorstr='#405de6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.facebook-btn{  
    background-color: #3B5998;
    opacity: 1;    
}

.fa-twitter, .fa-instagram, .fa-facebook{ 
    padding-top: 15px;  
    color: #fff;
}

/*ボタン内文字*/
p{    
    font-family: "FlopDesignFONT";       
    color: #fff;    
    font-size: 20px;
    text-decoration: none;
    padding-top:15px;
}


/*フォーム*/
.form {
    position: relative;
    font-family: "FlopDesignFONT";       
    display: block;
    height: 1%;
    padding: 1%;
    padding-top: 2.4%;
    padding-left: 3%;    
    padding-right: 3%;        
    font-size: 25px;
    color: #020202;
    margin: 0 auto; 
    margin-top: 1%;
    height: 450px;    
    width: 70%;

    background-color: #ffffff;
    border-radius: 20px;
    border: 4px solid;
}



/*checkボタン*/
.fa-signal {   
    margin-bottom: 2%;    
	display: inline-block;
	width: 21%;
	height: 50px;
	box-shadow: 0 3px 0 #0e8c73;    
	outline: none;
    padding:10px;
    margin-top: 2%;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
    
    font-size: 33px;
	text-align: center;
	text-decoration: none;    
	line-height: 52px;
   
}
.fa-signal:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.fa-signal:active {
	top: 3px;
	box-shadow: none;
}

.fa-signal{
    text-align: center;
    padding-top:30px;
}

.check-btn{ 
    text-align: center;    
    margin: 0 auto;  
}

.check{
    font-family: "FlopDesignFONT";   
}

/*アップロード系統*/
.uploads{
    width: 400px;
    position: absolute;
    list-style-type: none; 
    float: left;
    overflow: hidden;
    top: 91%;    
    left: 22%;
}

#img_uploading{    
    position: absolute;
    width: 100px;
    left: 21%;
    top: 84%;
}

/*画像アップロード*/
#img_upload {
  position: relative;

/*top: -24px;
  left: 10%;
*/    
}
#img_upload_image {
  position: absolute;
  top: 0;
  left: 0;
}
#img_upload_form{
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  filter: alpha(opacity = 0); /* for IE6, IE7 */
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

/*現在位置アップロード*/
#location_upload {
    position: absolute;
    left: 27.5%;
    top: 84%;    

/*    
  margin-top: -7.1%;
  margin-left: -50%;   
*/    
}

#hash_upload {
    position: absolute;
    left: 30.5%;
    top: 84%;    

/*    
  margin-top: -7.1%;
  margin-left: -50%;   
*/    
}


.tab-page {    
    /* 最初は全部非表示 */
    display: none;
}

.tab1 {
    display: block;
}


@media screen and (max-width: 1137px) {
    /*アップロード系統*/


    #img_uploading{    
        left: 20%;
        top: 80%;
    }

    .input h1{
        padding-left: 3%;
        letter-spacing: -2px;
        font-family: "FlopDesignFONT";   
        margin-top: 4%;
        font-size: 246%;
    }    
    
    #img_upload {
      position: relative;  
    }

    /*現在位置アップロード*/
    #location_upload {
        top: 80%;     
    }

    #hash_upload {
        top: 80%;
    }    
    
}
@media screen and (max-width: 903px) {
    #img_uploading{    
        left: 19%;
        top: 78%;
    }

    .input h1{
        padding-left: 3%;
        letter-spacing: -2px;
        font-family: "FlopDesignFONT";   
        margin-top: 4%;
        font-size: 230%;
    }    
    
    #img_upload {
      position: relative;  
    }

    /*現在位置アップロード*/
    #location_upload {
        left: 29%;        
        top: 78%;     
    }

    #hash_upload {
        left: 32.5%;         
        top: 78%;
    }       
}
@media screen and (max-width: 754px) {
    #img_uploading{    
        left: 18%;
        top: 77%;
    }

    .input h1{
        padding-left: 3%;
        letter-spacing: -2px;
        font-family: "FlopDesignFONT";   
        margin-top: 4%;
        font-size: 220%;
    }    
    
    #img_upload {
      position: relative;  
    }

    /*現在位置アップロード*/
    #location_upload {
        left: 32%;        
        top: 77%;     
    }

    #hash_upload {
        left: 37.5%;         
        top: 77%;
    } 
    .fa-signal {   
        width: 28%;
    }  
    
    .check{
        font-size: 80%; 
    }
    }
@media screen and (max-width: 480px) {
    #img_uploading{    
        left: 15%;
        top: 59.5%;
    }

    .input h1{
        padding-left: 3%;
        letter-spacing: -2px;
        font-family: "FlopDesignFONT";   
        margin-top: 4%;
        font-size: 220%;
    }    
    
    #img_upload {
      position: relative;  
    }

    /*現在位置アップロード*/
    #location_upload {
        left: 34.5%;        
        top: 59.5%;     
    }

    #hash_upload {
        left: 41.5%;         
        top: 59.5%;
    } 
    .fa-signal {   
        width: 28%;
    }  
    
    .check{
        font-size: 80%; 
    } 
    
    /*checkボタン*/
    .fa-signal {   
        margin-bottom: 10%;    
        display: inline-block;
        width: 40%;
        height: 50px;
        box-shadow: 0 3px 0 #0e8c73;    
        outline: none;
        padding: 14px;
        padding: 10px;
        margin-top: 10%;
        background-color: #1abc9c;
        border-radius: 4px;
        color: #fff;

        font-size: 33px;
        text-align: center;
        text-decoration: none;    
        line-height: 52px;

    }   

    /*フォーム*/
    .form {
        position: relative;
        font-family: "FlopDesignFONT";       
        display: block;
        height: 1%;
        padding: 1%;
        padding-top: 2.4%;
        padding-left: 3%;    
        padding-right: 3%;        
        font-size: 25px;
        color: #020202;
        margin: 0 auto; 
        margin-top: 1%;
        height: 250px;    
        width: 70%;

        background-color: #ffffff;
        border-radius: 20px;
        border: 3px solid;
    }    
    body{
        margin-top: 15%;        
    }
    .input{
        text-align: center;   
        margin: 0 auto;
        width: 80%;
        background-color: #fff;
        border: 5px solid;    
    }
    .tab-page {    
        /* 最初は全部非表示 */
        display: none;
    }

    .tab1 {
        display: block;
    }    
}