*{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'FlopDesignFONT';
	src: url('./font/FlopDesignFONT.woff') format('woff');
}


/*ボタン全般*/


body{
    margin-top: 1.5%;
    margin-bottom: 1.5%;    
    background-color: #1abc9c;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #1abc9c), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #1abc9c),color-stop(.75, #FFEFEF), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 7px 7px;

}

.btn{
    margin: 10px;
    display: inline-block;
    width: 280px;
    height: 280px;
    -webkit-border-radius: 150px;/* width,heightの半分 */
    -moz-border-radius: 150px;
    border-radius: 150px;
    box-shadow: 0 2px 2px 0 rgba(128,128,128,0.9), 0 2px 2px 0 ;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0 5px 5px 0 rgba(128,128,128,0.9), 0 5px 5px 0;
}


/*ボタン*/
.twitter-btn{
    background-color:#55acee;
}

.instagram-btn{
    z-index: 10;    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdc80+0,f56040+34,c13584+68,405de6+100 */
    background: #ffdc80; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ffdc80 0%, #f56040 34%, #c13584 68%, #405de6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ffdc80 0%,#f56040 34%,#c13584 68%,#405de6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ffdc80 0%,#f56040 34%,#c13584 68%,#405de6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc80', endColorstr='#405de6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.facebook-btn{  
    background-color:#3B5998;
}

.fa-twitter, .fa-instagram, .fa-facebook{   
    padding-top: 90px;  
    font-size: 100px;   
    color: #fff;
}

/*ボタン内文字*/
p{    
    font-family: "FlopDesignFONT";     
    color: #fff;    
    font-size: 20px;
    text-decoration: none;
    padding-top:15px;
}


.login{  
    background-color: #fff;
    height: 600px;    
    margin:0 auto;
    width: 80%;
    text-align: center;
    border: 8px solid;
    margin-top: 2.5%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.login h1{
    padding-left: 1%;
    letter-spacing: -2px;
    font-family: "FlopDesignFONT";   
    margin-top: 4%;
    font-size: 450%;
 
}

.login h2{
    font-family: "FlopDesignFONT";    
    margin-top: 2%;
    font-size: 150%;
}

.sns_icons{
     margin-top: 20px;   
}

.sns_btn li{
    float:left;
    overflow: hidden;
    margin: 20px;
    list-style-type: none;      /*箇条書きの種類*/    
}

h3{
    font-size: 20px;
    font-family: "FlopDesignFONT";
    padding-top: 3%;
    color: #CCCCCC;  
}

/*ripple*/

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .rp-effect {/*エフェクト*/
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;/*波紋の濃さ*/
  transform: scale(0);
  background: #FFF;/*波紋色*/
  animation: ripple 800ms;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: 0.1;
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}
